<section class="bannerSection">
    <div class="container">
        <div class="flexCC bannerContent">
           <div class="bannerContent__left">
               <h1 class="hasLine">Lorem ipsum dolor sit amet consectetur </h1>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <a href="javascript:void(0)" class="btn btn--fourth">Sign Up Now</a>
           </div>
           <div class="bannerContent__right">
               <div class="bannerInnerImage">
                   <img src="/assets/images/banner.svg" alt="banner" class="bannerInnerImage__in" />
               </div>
           </div>
        </div>
    </div>
</section>