<!-- Header Component -->
<app-header></app-header>
<!-- Header Component -->

<!-- Banner Component -->
<app-banner></app-banner>
<!-- Banner Component -->

<!-- Home Section -->

<article class="sectionWrapper">

    <section class="pageSection pageSection--hasDots">
        <div class="container container--lg">
            <div class="partitionBlock">
                <div class="halfBlock">
                    <div class="carousalWrapper">
                        <!-- MAIN SLIDES -->
                        <div class="slider">
                            <img class="sliderImage" src="./assets/images/image2.jpg" alt="slider" />
                        </div>
                    </div>

                    <div class="carousalNavWrapper">
                        <!-- THUMBNAILS -->
                        <div class="slider-nav-thumbnails">
                            <img class="sliderNavImage" src="./assets/images/image2.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image02.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image03.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image04.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image05.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image06.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image07.jpg" alt="slider" />
                            <img class="sliderNavImage" src="./assets/images/image08.jpg" alt="slider" />
                        </div>
                    </div>
                </div>
                <div class="halfBlock">
                    <div class="productBlock">
                        <h2 class="productBlock__title">Pharetra Convallis</h2>
                        <p class="productBlock__description">Euismod in pellentesque massa placerat duis ultricies lacus
                            sed. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Commodo nulla
                            facilisi nullam vehicula!</p>
                        <div class="ratingBlock">
                            <div class="ratingBlock__stars">
                                <span class="ratingBlock__stars__each"></span>
                                <span class="ratingBlock__stars__each"></span>
                                <span class="ratingBlock__stars__each"></span>
                                <span class="ratingBlock__stars__each"></span>
                                <span class="ratingBlock__stars__each ratingBlock__stars__each--half"></span>
                            </div>
                            <label class="ratingBlock__count">23 reviews</label>
                        </div>
                        <div class="productBlock__colorScheme">
                            <label class="textLabel">COLOR</label>
                            <div class="productBlock__colorScheme__selector">
                                <label class="csRadio">
                                    <input type="radio" class="csRadio__input" name="color_scheme" checked />
                                    <div class="csRadio__placeholder">
                                        <label class="highlightText highlightText--newColor">NEW COLOR!</label>
                                        <p class="csRadio__placeholder__text">Nordvalla dark grey</p>
                                    </div>
                                </label>

                                <label class="csRadio">
                                    <input type="radio" class="csRadio__input" name="color_scheme" />
                                    <div class="csRadio__placeholder">
                                        <label class="highlightText highlightText--limited">LIMITED RELEASE</label>
                                        <p class="csRadio__placeholder__text">Beige</p>
                                    </div>
                                </label>

                                <label class="csRadio">
                                    <input type="radio" class="csRadio__input" name="color_scheme" />
                                    <div class="csRadio__placeholder">
                                        <p class="csRadio__placeholder__text">Grey</p>
                                    </div>
                                </label>

                                <label class="csRadio">
                                    <input type="radio" class="csRadio__input" name="color_scheme" />
                                    <div class="csRadio__placeholder">
                                        <p class="csRadio__placeholder__text">Skiftebo yellow</p>
                                    </div>
                                </label>

                                <label class="csRadio">
                                    <input type="radio" class="csRadio__input" name="color_scheme" />
                                    <div class="csRadio__placeholder">
                                        <p class="csRadio__placeholder__text">Kelinge beige</p>
                                    </div>
                                </label>

                                <label class="csRadio">
                                    <input type="radio" class="csRadio__input" name="color_scheme" />
                                    <div class="csRadio__placeholder">
                                        <p class="csRadio__placeholder__text">Vibberbo black/beige</p>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="productBlock__quantity">
                            <label class="textLabel">QUANTITY</label>
                            <div class="productBlock__quantity__block">
                                <a href="javascript:void(0);"
                                    class="productBlock__quantity__block__btn quantity--inc">-</a>
                                <input type="text" class="productBlock__quantity__block__input" value="1" />
                                <a href="javascript:void(0);"
                                    class="productBlock__quantity__block__btn quantity--dec">+</a>
                            </div>
                        </div>

                        <div class="productBlock__buyOptions">
                            <div class="csRoundRadio">
                                <input type="radio" class="csRoundRadio__input" name="buy-option" value="once" />
                                <span class="csRoundRadio__placeholder"></span>
                                <div class="csRoundRadio__contents">
                                    <h3>Buy once - $39.99</h3>
                                    <p class="csRoundRadio__contents__text">or 4 interest-free installments of $10.00
                                        with
                                        <span class="capsuleText">TrevaPay</span>
                                        <label class="iconIn iconIn--info"></label>
                                    </p>
                                </div>
                            </div>

                            <div class="csRoundRadio">
                                <input type="radio" class="csRoundRadio__input" name="buy-option" value="subscribe" />
                                <span class="csRoundRadio__placeholder"></span>
                                <div class="csRoundRadio__contents">
                                    <h3>Subscribe & <span class="highlightedText">save 12.5%</span> - $34.99</h3>
                                    <p class="csRoundRadio__contents__text csRoundRadio__contents__text--lt">Never run
                                        out of product. Cancel anytime.</p>
                                </div>
                            </div>

                            <div class="fullBlock">
                                <a href="javascript:coid(0);" class="btn btn--full btn--lg btn--primary btn--flex">
                                    <span class="iconIn iconIn--shopping"></span>
                                    Add to Bag
                                </a>
                            </div>
                        </div>

                        <div class="productBlock__features">
                            <ul class="tickList">
                                <li class="tickList__items">Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li class="tickList__items">Ac felis donec et odio pellentesque diam</li>
                                <li class="tickList__items">Pharetra convallis posuere morbi leo urna molestie</li>
                                <li class="tickList__items">Nunc aliquet bibendum enim facilisis gravida neque convallis
                                </li>
                                <li class="tickList__items">Praesent semper feugiat nibh sed pulvinar proin gravida</li>
                                <li class="tickList__items">Volutpat lacus laoreet non curabitur gravida arcu ac</li>
                            </ul>

                            <p class="deliveryMode">
                                <span class="iconIn iconIn--van"></span>
                                Free delivery and a risk-free <span class="uLineHighlight">quality guarantee!</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</article>

<!-- Home Section -->

<!-- User Component -->
<app-users></app-users>
<!-- User Component -->