/* You can add global styles to this file, and also import other style files */
$primary: #00ba74;
$secondary: #030f3f;
$third: #528ff0;
$fourth: #2783f3;
$mainFont: "HK Grotesk";
$white: #ffffff;
$bodyBg: $white;
$black: #000000;
$headerBG: #03062f;
$contanier: 1090px;
$containerLg: 1210px;

// Fonts
@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Light Legacy";
  src: url("/assets/fonts/HKGrotesk-LightLegacyItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Light Legacy";
  src: url("/assets/fonts/HKGrotesk-LightLegacy.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk SmBold Legacy";
  src: url("/assets/fonts/HKGrotesk-SemiBoldLegacyItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Medium Legacy";
  src: url("/assets/fonts/HKGrotesk-MediumLegacyItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk SemiBold Legacy";
  src: url("/assets/fonts/HKGrotesk-SemiBoldLegacy.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Legacy";
  src: url("/assets/fonts/HKGrotesk-RegularLegacy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Medium Legacy";
  src: url("/assets/fonts/HKGrotesk-MediumLegacy.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Legacy";
  src: url("/assets/fonts/HKGrotesk-BoldLegacy.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/assets/fonts/HKGrotesk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Legacy";
  src: url("/assets/fonts/HKGrotesk-BoldLegacyItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk Legacy";
  src: url("/assets/fonts/HKGrotesk-LegacyItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
  
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100vh;
  font-family: $mainFont;
  background: $bodyBg;
  font-size: 18px;
  line-height: 30px;
  &.overlayIn {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgb(0, 0, 0, 65%);
      left: 0px;
      top: 0px;
    }
  }
}

.container {
  width: 100%;
  max-width: $contanier;
  margin: 0 auto;
  padding: 0px 15px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &.container--lg {
    max-width: $containerLg;
  }
}

.btn {
  padding: 9px 20px;
  background: $white;
  border-radius: 2px;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: $third;
  font-weight: 700;
  &.btn--outlined {
    background: transparent;
    border: 1px solid #2b83ea;
    color: $white;
    transition: 0.3s linear;
    &:hover {
      background: $white;
      border: 1px solid $white;
      color: #2b83ea;
      transition: 0.3s linear;
    }
  }
  &.btn--fourth {
    background: $fourth;
    color: $white;
    transition: 0.3s linear;
    &:hover {
      background: #014290;
      transition: 0.3s linear;
    }
  }
  &.btn--white {
    transition: 0.3s linear;
    &:hover {
      background: #e1e1e1;
      transition: 0.3s linear;
    }
  }
}

.iconIn {
  width: 10.67px;
  height: 10.67px;
  display: inline-block;
  &.iconIn--rightArrow {
    background: url("/assets/images/right-arrow-full.svg") no-repeat;
    background-size: contain;
  }
  &.iconIn--info {
    width: 13.33px;
    height: 13.33px;
    background: url("/assets/images/info.svg") no-repeat;
    background-size: contain;
    margin-left: 5px;
    cursor: pointer;
  }
}

[disabled] {
  opacity: 0.3 !important;
  // background: #000 !important;
  color: #ffffff !important;
  cursor: not-allowed !important;
}